
/*===================================================*/
/*classroom 해당 css*/

body {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-family: 'Noto Sans KR', sans-serif;
}

/* 실제 내용이 들어갈 영역 지정 */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0 0 0 0;
}


a{
    text-decoration: none;
    color : rgb(146, 145, 145);
}
.classroom{
    display: flex;
    flex-direction: row;
    width : 100%;
    height: 100vh;

}

.classroom_viewport {
    display : flex;
    margin: 0;
    background-color: orange;
    flex-basis : 80%;
    height: 100vh;   
}

/*사이드바*/
.classroom_sidebar{
    display: flex;
    flex-direction: column;
    margin : 0;
    width: 280px;
    background-color: rgb(216, 213, 213);
    flex-basis: 20%;
    padding : 15px 20px 15px 15px;
}

/*강의목차,강의자료,노트부분*/
.classroom_tabs{
    display: flex;
    flex-direction: row;
    padding-left: 0;   
}

.classroom_tabs li {
    list-style : none;
    padding : 10px;
    
}




/*강의 큰 제목*/

.big_title{
    list-style: none;
    display: flex;
    /* align-items: center;
    justify-content: center; */
    padding : 10px;
    margin: 0;
}

.big_title > :nth-child(1){
  font-size: 18px;
  font-weight: bold;
  padding : 0 20px 0 0;
 
}

.big_title > :nth-child(2){
    font-size: 13px;   
  }



/*강의 내용 전체*/
.classroom_sidebar_content{
    padding-left: 0;
}

.classroom_chater{
    padding-left: 0;
    
}

/*강의 목차의 class 1-4 */
.classroom_chater li {
    list-style : none;
}


.classroom_chater_item, .classroom_asset_item {
    background-color: rgb(75, 74, 74);
    border-radius: 5px;
    margin : 10px;
    padding: 10px;
}


/*class 1-4 위 title*/
.title > :nth-child(1) {
    font-size : 12px;
    /* color : rgb(138, 136, 136); */
    color : rgb(138, 136, 136);
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    padding: 0 0 5px 0;
}

/*down angle*/
.title>i {
    margin : 2px 0 0 0 ;
    color : rgb(138, 136, 136);
    font-size: 12px;
}

/*class 1-4 아래 title*/
.title > :nth-child(2) {
    font-size : 20px;
    color : white;
    font-weight: 550;
}




/*강의목차 내용 click 시 작동하는 아코디언부분*/

.Class_hiddenMenu{
    display: none;
    flex-direction: column;
    background-color:  rgb(75, 74, 74);
    border-radius: 5px;
    color : white;   
    margin : 10px;
    padding : 10px;

}

.Class_hiddenMenu li {
    list-style: none;   
}

.class_items {
    color : rgb(138, 136, 136) ;
    font-size: 12px;
    font-weight: normal;
    margin : 0;
}


hr {
    background-color: rgb(138, 136, 136);
    height: 1px;
    border: 0;
}

/*--------------------------------------------------------*/
/*강의자료 해당 부분*/

.classroom_asset_item {
    display : flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.classroom_asset_list {
    display: none;
}


.classroom_asset_label {
    color : white;
    font-size: 12px;    
}

/*--------------------------------------------------------*/
/*강의노트  해당 부분*/
.classroom_notes{
    display : none;
}

.writeButton{
    display : none;
    font : 20px;
    color : red;
}

/*노트 작성/저장버튼 영역*/
.wrapper{
    display : flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: solid 2px red; */
    height : 600px;
    width : 100%;
    
}




/*노트작성*/
.enterArea{
    display : flex;
    flex-direction: column;
    width : 100%;
    height: 500px;
    background-color: rgb(75, 74, 74);
    border-radius: 5px;
}

/*text 입력 하는 윗부분==글자수 카운트하는거~~*/
.outerWrapper{
    display : flex;
    flex-direction: row;
    background-color: rgb(75, 74, 74);
    padding-right: 0;
    margin : 5px;
    border-radius: 5px;
    color : white;
}


/*'노트' 부분*/
.outerWrapper p{
    margin-right: 165px;
    white-space:nowrap;
}
/* .outerWrapper:nth-of-type(1) {
    font-size: 20px;
    padding : 10px;
} */

/*카운트 되는 부분*/
/* .outerWrapper:nth-of-type(2), :nth-of-type(3){
    padding-top: 13px;
    font-size: 15px;
    
} */

/*text 입력하는 부분*/
.typeData {
    text-align:left;
    background-color: rgb(75, 74, 74);
    border: none;
    outline : none;    
    margin: 10px;
    color : white;
}

/*저장버튼*/
.dBtn{
    align-items: center;
    justify-content: center;
    padding : 10px;
    width : 280px;
    height : 50px;
    margin : 10px;
    background-color: rgb(252, 39, 39);
    border-radius: 5px;
    border : none;
    color : white;
    font-size: 15px;
}


.subArea{
    /* display: flex; */
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.addArea{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 50px;  
    background-color: rgb(75, 74, 74);
    color : white;
    margin : 10px;
    border-radius: 5px;

}









/*text1:작성한 노트가 출력되는 공간*/
.text1 {
    flex: 1;
    margin: 10px;
    outline: none;
    border: none;
    overflow: hidden;
    height: 1em;
    color : white;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    
    cursor: pointer;
}

/*text2: 수정된 노트가 출력되는 공간*/
.text2 {
    /* position : relative; */
    flex : 1;
    width: 250px;
    height: 100px;
    padding: 10px;
    outline: none;
    border: none;
    overflow: auto;
    border-radius: 5px;
    background-color: rgb(75, 74, 74);
    color : white;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}


.enterDate{
    margin : 5px;
}


.slideWrapper {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin : 10px;
}

.slideArea {
    display: none;
    border-left : 10px;
}

.remove , .change , .store {
    display: flex;
    padding : 5px;
    margin : 5px;
    cursor: pointer;
    font-size: 10px;
}




.enterDate {
    position: absolute;
    margin : 10px;
    bottom: 5px;
    right: 40px;
    font-size: 12px;
    color: white;;
}

.write{
    width: 100px;
    color : red;
}



