@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Source+Sans+Pro&display=swap');

.main{
    height: auto;
    min-height: 100%;
    width: 100vw;
}
*:focus{
    outline: 0;
}
body{
    font-size: 14px;
    font-family: 'Source Sans Pro', sans-serif;
  font-family: 'Noto Sans KR', sans-serif;
    background-color: black;
}
.login-container{
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 450px;
    
    box-sizing: border-box;
    position: absolute;
    left:50%;
    top:50%;
    margin-left:-250px;
    margin-top:-180px;
    padding: 10px;

    background-color: white;

    border: solid 1px rgb(211, 208, 208);
    border-radius: 20px;
    text-transform: uppercase;
    justify-content: center;
    
}
.login-container div{
    margin-bottom: 30px;
text-align: center;
}
.login-container  img{
    
    width: 150px;
    height: 60px;
       
}
#login-form>input{
    width: 100%;
    height: 48px;
    padding: 0 10px;
    box-sizing: border-box;
    margin-bottom: 16px;
    border: solid rgb(209, 209, 209) 1px;
    border-radius: 6px;
    background-color: #F8F8F8;
   
}
#login-form > input::placeholder{
    color: #D2D2D2;
}
.login{
    color: #fff;
    font-size: 16px;
    background-color: rgb(255, 142, 29);
    margin-top: 20px;
    font-family: 'Noto Sans KR', sans-serif;
    width: 100%;
    height: 48px;
    padding: 0 10px;
    box-sizing: border-box;
    margin-bottom: 0px;
    border-radius: 6px;
    transition: background-color 1s ease-out;
}
.signup{
    color: black;
    font-size: 16px;  
    font-family: 'Noto Sans KR', sans-serif;
}
.signup a{
    font-family: 'Noto Sans KR', sans-serif;
    color: rgb(255, 142, 29)
}
.submit {
    margin-top: 25px;
    padding: 12px;
    border-color: #dfa828;
  }
  .submit:hover {
    background: #595e63;
    border-color: #595e63;
  }
#login-form > input[type="checkbox"]{
    display: none;
}
#login-form > label{
    color: #999999;
}
#login-form input[type="checkbox"] + label{
    cursor: pointer;
    padding-left: 26px;
    background-image: url("checkbox.png");
    background-repeat: no-repeat;
    background-size: contain;
}
#login-form input[type="checkbox"]:checked + label{
    background-image: url("checkbox-active.png");
    background-repeat: no-repeat;
    background-size: contain;
}
.nodisplay {
    display: none;
    transition: all 0.5s ease;
  }