<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="campMapper">
<resultMap type="camp" id="user_rm">
	<id property="userNo" column="USER_NO"/>
	<result property="usersEmail" column="USERS_EMAIL" />
	<result property="usersId" column="USERS_ID"/>
	<result property="usersPw" column="USERS_PW"/>
	<result property="usersName" column="USERS_NAME"/>
	<result property="usersNick" column="USERS_NICK"/>
	<result property="usersTel" column="USERS_TEL"/>
	<result property="usersAddress" column="USERS_ADDR"/>
	<result property="enrollDate" column="ENROLL_DT"/>
	<result property="secessionFlag" column="SECESSION_FL"/>
	</resultMap>
	
	<resultMap type="camp" id="mgr_rm">
	<id property="mgrNo" column="MGR_NO"/>
	<result property="mgrName" column="MGR_NAME"/>
	<result property="mgrId" column="MGR_ID"/>
	<result property="mgrPw" column="MGR_PW"/>
	
	<id property="teacherNo" column="TEACHER_NO"/>
	<result property="teacherId" column="TEACHER_ID"/>
	<result property="teacherPw" column="TEACHER_PW"/>
	<result property="teacherName" column="TEACHER_NAME"/>
	<result property="teacherEmail" column="TEACHER_EMAIL"/>
	<result property="teacherTel" column="TEACHER_TEL"/>
	<result property="teacherAddress" column="TEACHER_ADDR"/>
	<result property="teacherenrollDate" column="ENROLL_DT"/>
	
	
	
	
</resultMap>
</mapper>
