@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

.myClass-container {
    width: 100%;
    display: flex;
    flex-direction: row;
}

/*body-nav*/
.myClass-container nav:nth-child(1) {
    width: 30%;
    height: 970px;
    background-color: #e1e1e1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

/* <nav> 안녕하세요. 김철수님 [전체] */
.myClass-summary-container {
    width: 80%;
    height: 780px;
}

/* 안녕하세요. ~님 글자 영역 */
.myClass-hiUser {
    width: 100%;
    padding-top: 70px;
    padding-bottom: 50px;

    /*font */
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 30px;
    font-weight: 600;
    color: #333333;
    /*안녕하세요 * 님 폰트 크기, 행간 조절*/
    letter-spacing: -0.5px;
    line-height: 37px;
}

/*가명: 김철수님*/
.userName {
    color: #fe6936;
    font-weight: 700;
    font-size: 30px;
}

/* 나의강의장, 찜목록, 정보수정 버튼 */
.myClass-content-container {
    width: 100%;
}

/* 버튼영역 */
.content-1 {
    width: 90%;
    height: 60px;

    background-color: #333333;
    margin-bottom: 10px;
    border-radius: 18px;

    display: flex;
    align-items: center;
    padding-left: 16px;
    cursor: pointer;

}

.content-1:hover {
    background-color: #fe6936;
    font-weight: bolder;

    box-shadow: 0px 0px 8px #9f9f9f;
    transition-duration: 0.2s;
}

.content-1 span{
    display: flex;
    width: 93%;
    justify-content: space-between;
    text-decoration: none;
    font-weight: 500;
    color: white;
    font-family: 'Noto Sans KR', sans-serif;
}
.content-1 i{
    color: white;
    margin-right: 20px;
}

/* 로그아웃버튼 */
.logout-btn{
    color: #fe6936;
    background-color: transparent;
    border: 0 none;
    margin-left: 10px;
    font-size: 17px;
    cursor: pointer;
    font-family: 'Noto Sans KR', sans-serif;
    margin-top: 10px;
    font-weight: 550;
}

/*------------------body-content------------------*/

/* 나의 정보 본문 */
.myClass-content-area {
    width: 70%;
    height: 100%;
    background-color: white;

    /* flex */
    display: flex;
    flex-direction: column;
}

/* 전제목록, 수강중, 수강완료  버튼 부분 */
.myClass-over-navpart{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top : 3rem;
    /* margin-bottom: 2rem; */
    padding: 2rem 4rem 2.5rem 4rem;
    justify-content: space-between;
}

.myClass-over-btn {
    background-color: transparent;
    display: flex;
    flex-direction: row;
}

/* 전체목록, 수강중, 수강완료 버튼 안쪽 영역 */
.myClass-over-btn span{
    height: 100%;
    font-size: 17px;
    border-radius: 50px;
    background-color: #eeeeee;
    color: rgb(188, 188, 188);
    font-weight: 500;
    font-family: 'Noto Sans KR', sans-serif;

    margin-right: 9px;
    padding: 5px 12px;
    display: flex;
    justify-items: center;
    align-items: center;
    cursor: pointer;

    flex: none;
}
.class-btn:hover {
    background-color: #fe6936;
    font-weight: bolder;
    color: white;
    box-shadow: 0px 0px 8px #9f9f9f;
    transition-duration: 0.2s;
}

/* 나의강의찾기 input부분 */
.class-mySearchBarWrapper {
    border: 1px solid #cecece;
    border-radius: 50px;

    font-size: 20px;
    padding: 10px 40px 10px 10px ;
    display: flex;
    align-items: center;

    font-family: 'Noto Sans KR', sans-serif;
}
/* 나의 강의 검색창 focus 효과 */
input:focus{outline: none;}
/* 나의 강의 검색창 placeholder관련 효과 */
input:focus::placeholder{color: transparent;}
input::placeholder{color:#cecece;}

.class-mySearchBarWrapper>i {
    color: #e0e0e0;
    margin-right: 10px;
}
.class-searchBar {
    border: transparent;
    background-color: transparent;
}

/*class-content-1 / 강의 목록 */
.myclass-under-contentpart {
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    align-content: space-around;
}

.content-css{
    width: 100%;
    height: 350px;
    background-color: transparent;
    padding: 0px 70px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.content-container-1 .content-container-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 3%;
}

#class-content-1 {
    width: 30%;
    height: 100%;
    border: 1.5px solid #cecece;
    border-radius: 30px;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;
}

/* 강의 목록 -> 이미지 */
.class1>img {
    width: 100%;
    height: 57%;
    object-fit: cover;
    top: 0;
    left: 0;
    background-size: contain;
}

.class2>img {
    width: 100%;
    height: 55%;
    object-fit: cover;
    top: 0;
    left: 0;
    background-size: contain;
}

.class3>img {
    width: 100%;
    height: 55%;
    object-fit: cover;
    top: 0;
    left: 0;
    background-size: contain;

    top: 0;
}

/* 강의구분div */
.class-index {
    width: 90%;
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* 나의 강의: 강의구분[JAVA] */
.class-index>span {
    /* border-radius: 50px; */
    padding: 0px 6px 2px 0px;
    /* background-color: #cecece;  */
    align-self: flex-start;
    margin-top: 10px;
    /* font */
    font-size: 16px;
    font-weight: 600;
    color: #cecece;
    font-family: 'Source Sans Pro', sans-serif;
}

.class-index-content {
    width: 100%;
    height: 100%;

    /* font */
    font-size: 17px;
    font-family: 'Noto Sans KR', sans-serif;
    color: #333333;
    line-height: 23px;
    font-weight: 500;
    overflow: hidden;
}

show_index{
    color: #fe6936;
}

/* goClass == 수강하기 */
.goClass {
    width: 100%;
    height: 100%;
    background-color: #333333;
    border-radius: 50px;
    cursor: pointer;
    /* flex */
    display: flex;
    justify-content: center;
    align-items: center;
    /* font */
    color: white;
    font-weight: 550;
    font-size: 18px;
}
.goClass:hover{
    background-color: #fe6936;
    font-weight: 800;
    box-shadow: 0px 0px 8px #9f9f9f;
    transition-duration: 0.2s;
}
/* 페이지네이션 */
.page-nav{
    width: 100%;
}
.pagination {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination li {
    margin: 10px;
    display: list-item;
}

.pagination li a {
    text-decoration: none;
    color: rgb(69, 68, 68);
    font-size: 12px;
    font-weight: 500;

}
.pagination li a:hover{
    color:#fe6936;
    font-weight: bold;
}